@{
	ViewData["Title"] = "Stefan Milenković - Portfolio";
}
<div style="margin-top: 45px"></div>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light bgImage">
	<div class="col-md-5 p-lg-5 mx-auto my-5" >
		<h1 class="display-4 font-weight-normal white-text">Stefan Milenković</h1>
		<p class="lead font-weight-normal white-text">Backend Developer and Teaching Assistant.</p>
		<a class="btn btn-outline-danger white-text" href="@Url.Content("~/Media/Stefan Milenković.pdf")" download>Download Resume</a>
	</div>
</div>
<hr class="featurette-divider hrBorder" style="margin-top: 0px !important;" id="about">

<div class="container">
	<!-- ABOUT -->
	<section>
		<div class="row featurette">
			<div class="col-md-8">
				<h2 class="featurette-heading">About Me:</h2>
				<p class="lead">Currently working as a teaching assistant at the Academy of Vocational Studies Šumadija.<br /><br />
					Stefan has a Bachelor's degree, major in Computer Science from Academy of Vocational studies Šumadija department in Kragujevac and is doing a 
					Master's degree in Information Technology at Academy of Vocational studies Šumadija department in Trstenik. </p>
			</div>
			<div class="col-md-4">
				<img class="image-self featurette-image img-fluid mx-auto" src="./Media/Stefan-Milenkovic.jpg" alt="Generic placeholder image">
			</div>
		</div>

		<div class="row featurette">
			<div>
				<h2 class="featurette-heading">My Programming Skills:</h2>
				<p class="lead">
					Experienced in the C# .NET programming language with many projects that have been developed. Started programming at the age of 14, 
					creating games with Unity 3D and coding in Visual Studio. Good at working in a team and looking forward to applying the 
					skills attained through education. Hardworking and always ready to learn. Fluent in Serbian and English.</p>
			</div>
		</div>
		<hr class="featurette-divider hrBorder" id="projects">
	</section>
	
	<!-- PROJECTS -->
	<section>
		<div class="position-relative overflow-hidden p-3 m-md-3 text-center">
		<h1>My Projects</h1>
		<div class="album py-5">
			<div class="container">

				<div class="row">
					<div class="col-md-4">
						<div class="card mb-4 box-shadow">
							<img class="card-img-top" src="@Url.Content("~/Media/Card_Images/anticovid.png")" alt="Card image cap">
							<div class="card-body">
								<h4>AntiCovid Site</h4>
								<p class="card-text">Worked in a team while on the final year of collage, creating a website for an online reservation of the covid19 vaccine in 
									local hospitals and clinical centers.
								</p>
								<div class="d-flex justify-content-between align-items-center">
									<div>
										<a type="button" class="btn btn-sm abtnoncard" href="https://github.com/Milenkovic997/anticovid">View on GitHub</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card mb-4 box-shadow">
							<img class="card-img-top" src="@Url.Content("~/Media/Card_Images/ailearning.png")" alt="Card image cap">
							<div class="card-body">
								<h4>Artifical Intelligence Learning Website</h4>
								<p class="card-text">This is a website created for students to learn AI programming in Python, used as the main learning material at the Academy where i work at.</p>
								<div class="d-flex justify-content-between align-items-center">
									<div>
										<a type="button" class="btn btn-sm abtnoncard" href="https://github.com/Milenkovic997/Ve-ta-ka_Inteligencija" target="_blank">View on GitHub</a>
										<a type="button" class="btn btn-sm abtnoncard" href="https://vestacka-inteligencija.herokuapp.com/" target="_blank">View Site</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card mb-4 box-shadow">
							<img class="card-img-top" src="@Url.Content("~/Media/Card_Images/mp3.png")" alt="Card image cap">
							<div class="card-body">
								<h4>Mp3 Player and YouTube Song Downloader</h4>
								<p class="card-text">A desktop application that i have created for adding all of my songs into a playlist and an option to download songs directly from YouTube without
									the use of YouTube's API
								</p>
								<div class="d-flex justify-content-between align-items-center">
									<div>
										<a type="button" class="btn btn-sm abtnoncard" href="https://github.com/Milenkovic997/Mp3-Player-WPF" target="_blank">View on GitHub</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="card mb-4 box-shadow">
							<img class="card-img-top" src="@Url.Content("~/Media/Card_Images/socialmedia.png")" alt="Card image cap">
							<div class="card-body">
								<h4>Social Media Application</h4>
								<p class="card-text">A desktop application that imitates common social medias over the internet, allowing users to create an account, follow other users,
									chat with them, post images, edit profiles etc.
								</p>
								<div class="d-flex justify-content-between align-items-center">
									<div>
										<a type="button" class="btn btn-sm abtnoncard" href="https://github.com/Milenkovic997/Social-Media-WPF-WebAPI" target="_blank">View on GitHub</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card mb-4 box-shadow">
							<img class="card-img-top" src="@Url.Content("~/Media/Card_Images/animelist.png")" alt="Card image cap">
							<div class="card-body">
								<h4>Anime List Maker</h4>
								<p class="card-text">A desktop application that uses the Jikan API for getting the newest lists directly from the MyAnimeList website and creating a list locally
									on the device, checking on currently airing and upcoming anime, searching for new ones etc.
								</p>
								<div class="d-flex justify-content-between align-items-center">
									<div>
										<a type="button" class="btn btn-sm abtnoncard" href="https://github.com/Milenkovic997/Jikan_API-v3.0-WPF" target="_blank">View on GitHub</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card mb-4 box-shadow">
							<img class="card-img-top" src="@Url.Content("~/Media/Card_Images/crypto.png")" alt="Card image cap">
							<div class="card-body">
								<h4>Crypo Coin Price Checker</h4>
								<p class="card-text">An application used for tracking daily changes within any crypto coin on the market up to the last year. Also gives the possibility to
									check changes in a specific coin every 5 minutes and their % change.
								</p>
								<div class="d-flex justify-content-between align-items-center">
									<div>
										<a type="button" class="btn btn-sm abtnoncard" href="https://github.com/Milenkovic997/CryptoCoin-PriceChecker-WPF-WebAPI" target="_blank">View on GitHub</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<hr class="featurette-divider hrBorder" id="resume">
	</section>
	
	<!-- RESUME -->
	<section>
		<div class="container">
			<div class="text-center">
				<br /><h1>My Resume</h1> <br /><br />
			</div>
			<div class="row">
				<div class="col-lg-6">
					<h3 class="resume-title">Summary:</h3>
					<div class="resume-item pb-0">
						<h4>Stefan Milenković</h4>
						<p>
							<ul>
								<li>Email: <a href="mailto:milenkovic.stefan1@gmail.com" target="_blank">milenkovic.stefan1@gmail.com</a></li>
								<li><a href="https://www.linkedin.com/in/stefan-milenkovi%C4%87-b52888206/" target="_blank">LinkedIn Profile</a></li>
								<li><a href="https://github.com/Milenkovic997" target="_blank">GitHub Profile</a></li>
							</ul>
						</p>
					</div>
					<h3 class="resume-title">Education</h3>
					<div class="resume-item">
						<h4>Master's Degree in Computer Science</h4>
						<h5>2021 - present</h5>
						<p>
							<em>Academy of Vocational Studies Šumadija, Trstenik, Serbia</em>
						</p>
					</div>
					<div class="resume-item">
						<h4>Bachelor Degree in Computer Science</h4>
						<h5>2018 - 2021</h5>
						<p>
							<em>Academy of Vocational Studies Šumadija, Kragujevac, Serbia</em>
						</p>
						<p>Received a Bachelor's degree as one of the best students in his generation with an average score of 9.07 and graduated first in the class of 2021.</p>
					</div>
					<div class="resume-item">
						<h4>High School Diploma</h4>
						<h5>2012 - 2016</h5>
						<p>
							<em>Electrical Engineering School "Nikola Tesla", Jagodina, Serbia</em>
						</p>
					</div>
				</div>
				<div class="col-lg-6">
					<h3 class="resume-title">Teaching Assistant Job:</h3>
					<div class="resume-item">
						<h5>2021 - Present</h5>
						<p>
							<em>Academy of Vocational Studies Šumadija, Kragujevac, Serbia</em>
						</p>
						<p>
							Working currently as a teaching assistant for classes based on programming at mathematics. The classes tought are the following: 
							<ul>
								<li>Artificial Intelligence - Python AI programming</li>
								<li>Computer Operating Systems - Basics for Windows and Linux operating systems and memory distribution within the system.</li>
								<li>Computer Techniques - Basics of numerous systems (Binary, Hex codes etc.)</li>
								<li>Computer Networks - Basics for different forms of computer networks.</li>
							</ul>
						</p>
					</div>
					
				</div>
			</div>
		</div>
		<hr class="featurette-divider hrBorder" id="skills">
	</section>

	<!-- SKILLS -->
	<section>
		<div class="position-relative overflow-hidden p-3 m-md-3">
			<div class="text-center">
				<h1>My Skills</h1>
			</div>
			<div class="container top-padding">
				<div class="skillscontent">
					<div class="row">
						<div class="col-md-1 text-center">
							<div class="skill-images center-block">
								<img style="width: 100%" src="./Media/c-sharp.png" class="center-block img-responsive">
								<h4>C#</h4>
							</div>
						</div>
						<div class="col-md-11">
							<p class="skilltext align-content-lg-start"><p><span style="font-size: medium;">I use the C# programming language to create desktop applications in WPF for the .Net 5.0 and 6.0 
								version, connecting public and user-created local APIs as well as create websites and APIs with the ASP .Net Core and connecting them to a local database within a system.
								The main IDE used is Visual Studio.
							</span></p> </p>
						</div>
					</div>
					<hr>

					<div class="row">
						<div class="col-md-1 text-center">
							<div class="skill-images center-block">
								<img style="width: 100%" src="./Media/java.png" class="center-block img-responsive">
								<h4>Java</h4>
							</div>
						</div>
						<div class="col-md-11">
							<p class="skilltext"><p><span style="font-size: large;"><span style="font-size: medium;">I use the Java programming language as well as the Apache Maven software project management tool
								for creating web apps and calling APIs and showing them on a user-generated interface. Tools used alongside Java 8 are hibernate for communicating with databases, Spring for creating templates
								and docker for building. The main IDE used is IntellIJ Ultimate.
							</span><span><br /></span></span></p> </p>
						</div>
					</div>
					<hr>

					<div class="row">
						<div class="col-md-1 text-center">
							<div class="skill-images center-block">
								<img style="width: 100%" src="./Media/api.png" class="center-block img-responsive">
								<h4>Rest API</h4>
							</div>
						</div>
						<div class="col-md-11">
							<p class="skilltext"><p><span style="font-size: medium;">Experienced in creating personal and user APIs, creating endpoints and utilizing REST methods for getting, changing, posting and
								deleting new values within databases with an API interface.
							</span></p> </p>
						</div>
					</div>
					<hr>

					<div class="row">
						<div class="col-md-1 text-center">
							<div class="skill-images center-block">
								<img style="width: 100%" src="./Media/mysql.png" class="center-block img-responsive">
								<h4>MySQL</h4>
							</div>
						</div>
						<div class="col-md-11">
							<p class="skilltext"><p><span style="font-size: medium;">Experienced in creating relational databases within the MySQL and SQL Management tool apps and forming different tables for many different purposes.</span></p> </p>
						</div>
					</div>
				</div>
			</div>
			<br /><br />
			<div class="row featurette">
				<div class="col-md-12">
					<h2 class="featurette-heading last-featurette">Other <span class="text-muted">Skills.</span></h2>
					<p class="lead">Fluent in Serbian and English. Experienced in the Python programming language and creating interfaces with
						HTML5, CSS, PhP, Bootstrap. Editing and changing images in Photoshop. Creating android-based applications in Android studio. Testing applications
						with the Selenium IDE. Work with Microsoft office tools like Word, Excel, PowerPoint etc. Experienced in working with the Visual Studio and PyCharm IDE's.
					</p>
				</div>
			</div>
		</div><br /><br />
	</section>
</div>

